<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet" />
    <style>
        h2 {
            font-size: large;
            font-weight: bold;
            margin-top: 6px;
        }
        p {
            text-indent: 20px;
        }
    </style>
</head>
<body class="bg-gray-100 font-sans antialiased">
    <!-- Nav Bar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-2xl font-bold">AI Blog Generator</h1>
        </div>
        <div class="md:hidden">
            <!-- Mobile menu button -->
            <button id="mobileMenuButton" class="text-white focus:outline-none">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 6H20M4 12H20M4 18H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        <div id="mobileMenu" class="hidden md:flex">
            <!-- Desktop menu items -->
            <a href="#" class="text-white mx-4">Welcome {{user.username}}</a>
            <a href="/" class="text-white hover:underline mr-4">New Blog</a>
            <a href="/logout" class="text-white hover:underline">Logout</a>
        </div>
    </nav>
    <!-- Mobile menu -->
    <div id="mobileMenuDropdown" class="md:hidden bg-blue-600 hidden">
        <a href="/" class="block text-white hover:bg-blue-700 hover:text-white px-3 py-2">New Blog</a>
        <a href="/logout" class="block text-white hover:bg-blue-700 hover:text-white px-3 py-2">Logout</a>
    </div>

    <script>
        document.getElementById("mobileMenuButton").addEventListener("click", function() {
            document.getElementById("mobileMenuDropdown").classList.toggle("hidden");
        });
    </script>

    <!-- Main content  -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <section>
                <div class="border border-gray-300 p-4 rounded-lg">
                    <h3 class="text-2xl font-bold text-center mb-2">{{blog_article_detail.youtube_title}}</h3>
                    <p id="content-body" class="text-gray-700">{{blog_article_detail.generated_content|safe}}</p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-lg font-semibold">YouTube Title</h4>
                    <p class="text-gray-700">{{blog_article_detail.youtube_title}}</p>
                    <h4 class="text-lg font-semibold mt-4">Youtube link</h4>
                    <a href="{{blog_article_detail.youtube_link}}" class="text-blue-600 hover:underline ">{{blog_article_detail.youtube_link}}</a>
                </div>
                <div class="mt-4 text-center">
                    <a  href="/blog-list" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-colors">Return to all Blogs</a>
                </div>
            </section>
        </div>
    </div>
    <footer class="text-center p-4 text-black mt-6">
        Powered by Dave Dushi
    </footer>
</body>
</html>